@define-color text-main #030712; /* gray-400 */
@define-color text-secondary #9ca3af;
@define-color success #16a34a; /* green-600 */
@define-color failure #dc2626; /* red-600 */
@define-color info #0284c7;
@define-color warn #f59e0b;

* {
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 400;
}

button {
  background-image: none;
  box-shadow: none;
}

.device-list * {
  border-radius: 0;
  border-color: transparent;
}

/* list row:first-child {
  background-color: rgba(0, 0, 0, 0);
} */

.device-list row {
  padding: 0;
}

.device-button {
  background-color: transparent;
  box-shadow: none;
  background-image: none;
}

/* .device-button:hover, list row:first-child:hover {
  background-color: #f3f4f6;
}

.device-button:active, list row:first-child:active {
  background-color: #e5e7eb;
} */

.device-button image {
  margin: 0;
  padding: 5px;
}

.device-button.connected image {
  color: @success;
}

.device-button.disconnected image {
  color: @text-main;
}

.device-button.failedconnect image {
  color: @failure;
}

.section-label {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}

.group-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: @text-secondary;
}

.hm107--div-dropdown {
  min-width: 70px;
}

.hm107--block-section {
  border: 3px @unfocused_borders solid;
  border-radius: 7px;
}

.hm107--block-section > label {
  margin: 0;
  background-color: @unfocused_borders;
  padding: 5px 15px;
}

.hm107--block-section > box {
  padding: 3px 5px;
}

grid.section {
  padding-bottom: 15px;
}