@define-color text-main #020617;
@define-color success #16a34a; /* green-600 */
@define-color failure #dc2626; /* red-600 */
@define-color info #0284c7;
@define-color warn #f59e0b;

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

button {
  background-image: none;
  box-shadow: none;
}

.device-list * {
  border-radius: 0;
  border-color: transparent;
}

/* list row:first-child {
  background-color: rgba(0, 0, 0, 0);
} */

.device-list row {
  padding: 0;
}

.device-button {
  background-color: transparent;
  box-shadow: none;
  background-image: none;
}

/* .device-button:hover, list row:first-child:hover {
  background-color: #f3f4f6;
}

.device-button:active, list row:first-child:active {
  background-color: #e5e7eb;
} */

.device-button image {
  margin: 0;
  padding: 5px;
}

.device-button.connected image {
  color: @success;
}

.device-button.disconnected image {
  color: @text-main;
}

.device-button.failedconnect image {
  color: @failure;
}

.section-label {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 15px;
}

.group-label {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 5px;
}

.hm107--div-dropdown {
  min-width: 100px;
}
